<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299220976270-e6nl3ouhhb6jogi24ifvpovml0jcfdah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299220976270-e6nl3ouhhb6jogi24ifvpovml0jcfdah</string>
	<key>API_KEY</key>
	<string>AIzaSyDJbhFxPKMHnhNjktYL-bTbFXhVJ48HCDo</string>
	<key>GCM_SENDER_ID</key>
	<string>299220976270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.seungchan.grab</string>
	<key>PROJECT_ID</key>
	<string>grab-2395a</string>
	<key>STORAGE_BUCKET</key>
	<string>grab-2395a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299220976270:ios:2250a7e838236275017fdf</string>
</dict>
</plist>